@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --amarelo-main: #977f1d;
    --amarelo-claro: #ffe0661f;
    --amarelo-escuro: #a0882b;
    --escuro: #212121;
    --azul-escuro: #37678A;
    --azul-claro: #4B9BD6;
    --font: 'Vollkorn', serif;
}



/*header section*/
header {
    height: 100vh;
    background: var(--escuro) url('/img/header2.jpg') center top;
    background-size: cover;
    background-attachment: fixed;
}
.logo {
    position: absolute;
    border-radius: 50%;
    top: 5%;
    left: 5%;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    border: solid 2px rgba(255, 255, 255, 0.322);
}
.header-descript {
    position: absolute;
    top: 10%;
    right: 5%;
    color: white;
    font: italic 600 1.6em var(--font);
}



/*App section*/
.title-app {
    text-align: center;
    font: normal bold 3em var(--font);
    margin-top: 30px;
    color: #212121;
    margin-bottom: 50px;
}
.container-app {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px 100px;
}
.app {
    display:flex;
    flex-flow: column nowrap;
    width: 400px;
    text-align: justify;
    margin: auto;
    padding: 20px; 
}
.app > img {
    margin: auto;
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
.app > p {
    font: normal normal 1.2em/1.5em var(--font);
    text-indent: 20px;
}
.cell-phone {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}
.cell-phone img {
    height: 30px;
    width: 100px;
}


table { 
    font: normal 400 1em var(--font); 
    margin: auto;
}
th {
    height: 30px;
    background-color: var(--escuro);
    color: white; 
    border: solid 1.5px var(--escuro);
}
td { 
    border: 1px solid #212121;
    padding: 5px;
}
tr:nth-child(even) {background-color: var(--amarelo-claro)}


/* Service section*/

.container-services {
    background: gray url('img/background.jpg') center top ;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 70px;
    padding: 50px 0px;
}

.title-services {
    text-align: center;
    font: normal 800 3em var(--font);
    color: white;
}

.main-services {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.main-services-item {
    flex-flow: column nowrap;
    justify-content: center;
    border: 8px solid #8A741C;
    border-radius: 30px;
    background-color: white;
    padding: 5px;
}

.main-services-item-title {
    font:  normal 400 2.5em var(--font);
    text-align: center;
    color: #212121;
}
.main-services-item-price {
    font: italic 500 4em var(--font);
    text-align: center;
    color: #212121;
}

.main-services-item-img{
    width: 250px;
    height: 300px;
}



/* Contact */

.contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
    padding: 30px 30px;
    font: normal normal 1.2em var(--font);
    gap: 30px 20px;
}
.social-media {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.social-media  h4 {
    font:  normal 400 1.5em var(--font);
    color: var(--amarelo-main);
    text-shadow: 0.7px 0.7px 0.7px rgba(0, 0, 0, 0.911);
}
.social-media > a {
    margin-top: 20px;
    font-size: 4em;
}
.payment{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}
.payment > h4 {
    font:  normal 400 1.5em var(--font);
    margin-bottom: 20px;
    color: var(--amarelo-main);
    text-shadow: 0.7px 0.7px 0.7px rgba(0, 0, 0, 0.911);
}
.payment > div {
    margin-top: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.payment > div > p {
    margin-left: 10px;
}
.pix-logo {
    height: 20px;
    width: 20px;
}



/*Footer*/
footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 10px 0px;
    color: white;
    background-color: black;
    font: normal normal 0.5em var(--font);
}
footer  a {
    font-weight: bolder;
    font-size: 1em;
}
footer a:hover {
    text-decoration: underline;
}